.saldoBubble {
    /* border-radius: 50%; */
    /* background-color: rgba(0, 0, 0, 0.2); */
    /* justify-content: center; */
    /* padding: 1em; */
    width: 60%;
    /* height: 50%; */
    /* position: relative; */
    display: inline-block;
    /* padding-right: 1em; */
    border-radius: 15px;
    /* border-color: rgba(125, 184, 125, 0.8); */
    border-width: 3.2px;
    border-style: solid;
    margin-bottom: 1em;
  }
  
  .saldoContent {
    /* background-color: rgba(0, 0, 0, 0.2); */
    /* top: 50%;
    left: 50%; */
    /* color: ; */
    line-height: normal;
    text-shadow: 3px 3px 10px rgba(46, 44, 44, 0.1);
    /* background-color: salmon; */
  }
  
  .saldoNum {
    /* padding: 0.5em; */
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
  
  .saldoTitle {
    padding: 0px;
    margin-bottom: 0;
    margin-top: 0.5em;
  }