.montoInp, .dropInp {
    width: 80%;
    margin-bottom: 1em;
    border-radius: 10;
}

.monthSelect {
    margin-bottom: 1em;
    font-size: smaller;
    padding: 0.25em;
    margin-top: 0;
}

/* 
.dropInp {
    width: 80%;
    margin-bottom: 1em;
} */

.suBtn {
    /* background-color: lightcyan; */
    border-radius: 1px;
}

.suBtn:hover {
    /* background-color: lightblue; */
    cursor: pointer;
    color: darkseagreen
}

.AprBtn {
    margin: 5px;
    margin-top: 10px;
    border-radius: 3px;
}

.Apr {
    background-color: rgba(49, 216, 99, 0.3);
}

.Den {
    background-color: lightpink;
}