.navTitle {
    margin-top: 20px;
    margin-bottom: 0.25em;
  }
  
  .navBar {
    border-radius: 15%;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: rgba(66, 235, 210, 0.4); */
    position: fixed;
    bottom: 0;
    left: 0; 
    right: 0;
    height: 6em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  
  .navBtn {
    background-color: rgb(233, 255, 254);
    border-radius: 50%;
    padding: 0.75em;
    border: none;
    flex-flow: row;
  }

  .navBtnR {
    background-color: rgb(233, 255, 254);
    border-radius: 50%;
    padding: 0.5em;
    border: none;
    flex-flow: row;
  }

  .navImg {
    max-height: 100%;
  }
  
  
  .navText {
    
  }
  