.graphContainer {
  /* display: inline-block; */
  /* border-radius: 15px;
  border-color: rgba(125, 184, 125, 0.8);
  border-width: 3.2px;
  border-style: solid;
  margin-top: 0em; */
}

.graphTitle {
    margin-bottom: 0;   
}