.suBtn:hover {
    /* background-color: lightblue; */
    cursor: pointer;
    color: darkseagreen
}

.AprBtn {
    margin: 5px;
    margin-top: 10px;
    border-radius: 3px;
}

.cMon, .cCan, .cCon, .cBtn {
    margin-top: 1em;
}